*{
	margin: 0;
	padding: 0;

}



body {

	 
background:  gray;



}

header{

	padding: 20px;
	display:inline-block;
	margin:50px;
	padding:30px; 
	width: 80px;
	background: black;
	text-align: center;
	color: white;
	border:5px solid white;

}

h1{

	font-size: 40px;
	font-style: inherit;
	color:  white;
	text-align: center;
	background: red;
	border:10px solid wheat;

}

h2{
	color:  white;
	text-align: center;
	font-size: 40px;
	display: inline-block;
	position: relative;
	left: 600px;
	bottom:600px ;
	background:  #ff800f;
	border: 10px solid black;
}



p{


width: 80%;
border:20px solid #ff800f;
display: inline-block;
background: black;
color:  white;
position: relative;
}


aside{
	
width: 20%;
display: inline-block;
background: #ff800f;
position: relative;
left:  250px;
top: 90px;
border: 10px solid white;
}
div{

	color:  white;
	display: inline-block;
	border: 10px solid #ff800f;
	width: 40%;
	position: relative;
	top: 50px;

}

img{

width: 100%;
border: 2px solid white;
}


